
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript jquery-->
    <script src="/vender/jquery/jquery.min.js"></script>
    <script src="/vender/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts -->
    <script src="/javascripts/popcornsar.js"></script>

    <!-- webpack bundle -->
    <script src="bundle.js"></script>

    </body>
</html>