
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="/images/nav_logo.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link js-scroll-trigger dropdown-toggle" href="#" id="navbarDropdown_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        제품 소개
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown_1">
                        <a class="dropdown-item" href="#">AP Tool</a>
                        <a class="dropdown-item" href="#">CP Tool</a>
                        <a class="dropdown-item" href="#">AP구현 Full-Set</a>
                        <a class="dropdown-item" href="#">SaaS결합형 AP 개발환경</a>
                        <a class="dropdown-item" href="#">AP 네트워크 및 진단 테스트</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#download">서비스 소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">사업 영역</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">게 시 판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Company</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
