
    <% include ../header.ejs %>

    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row col-md-7">
                    <span class="header-title">PopcornSAR<br>Header Section Title</span>
                    <span class="headerSub-title"> A free, responsive, one page Bootstrap theme.</span>
                    <span class="paragraph">A free, responsive, one page Bootstrap theme.A free,
                        responsive, one page Bootstrap theme.A free,</span>
                </div>
            </div>
        </div>
    </header>


    <!-- Content Section_1 : Video Slide -->
        <!--slider 참고 사이트-->
        <!--https://www.jqueryscript.net/slider/Cover-Flow-Rotator-JQuery-Yys-Slider.html-->
        <!--https://www.jqueryscript.net/slider/jQuery-Waterwheel-Carousel-Plugin.html-->

    <!-- Content Section_2 : 회사소개 / Upcoming Events -->
    <div class="container">

        <h1 class="my-4">Welcome to Modern Business</h1>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Card Title</h4>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Card Title</h4>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Card Title</h4>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Content Section_3 : Membership -->




    <% include ../footer.ejs %>